// Colors 
$charcoal: #2e4057ff;
$sea-green: #3e885bff;
$indian-yellow: #e09f3eff;
$auburn: #9e2a2bff;
$ochre: #d17b0fff;
$blood-red: #621708ff;
$dark-red: #941b0cff;
$dim-gray: #6C6C6C;
$davys-gray: #525252;
$jet: #333333;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #C2C2C2;
}

a {
    text-decoration: none;
}

#toolbar {
    background-color: $jet;
    padding: 2.5em;

    #links {
        a {
            padding: 1.70em;
            margin-right: 4em;
            text-align: center;
            font-family: 'Roboto Mono', monospace;
            font-size: 1.5em;
            color: #AA28AF;
            &:hover {
                background-color: $davys-gray;
                color:#E435EA;
            }
        }


        #name {
            margin-left: 20em;
            color: $indian-yellow;
            &:hover {
                color:$ochre;
                text-decoration: none;
            }
        }
        #home {
            margin-left: 0.5em;
        }
        #contact {
            color:#E435EA;
        }
    }
}

#main {
    #square {
        //Square
        &:hover {
            color: $indian-yellow;
            box-shadow: 0em 0em 1em $jet;
        }
        background-color: dimgray;
        color: black;
        border-radius: 1em;
        width: 50em;
        height: 30em;
        margin: 5em auto auto auto;
        padding: 0 2em 0 2em;
        
        //Centering
        align-items: center;
        display: flex;
        justify-content: center;
        
        //Shadow
        -webkit-box-shadow: 0px 0px 6px 0px #000000; 
        box-shadow: 0px 0px 6px 0px #000000;

        #pf {
            width: 9em;
            display:block;
            margin-right: auto;
            border-radius: 0.55em;
        }
        h2 {
            margin-left: 2em;
        }
        h1 {
            text-align: left;
            font-size: 2.75em;
            margin-right: 0.5em;
        }

        p {
            font-size: 1.25em;
            margin-left: 1em;
            text-align: right;
        }
         
    }
}