body {
	font: 15px/1.5 sans-serif;
	padding: 0;
	margin: 0;
	background-color: #edfcf8;
}

/* Global shit*/
.container {
	width: 80%;
  height:100%;
	margin: auto;
	overflow: hidden;
}



/* Header */


header {
	background: #2A8285;
	color: #FFFFFF;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #B83027 3px solid;
}


/* Links */

header a{
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #jesus{
	float:left;
}

header #jesus h1{
	margin:0;
	font: 40px 'Vibur', cursive;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color: #B83027;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}


/*Title*/
#media h1{
  font: 60px/1.0 'Bubbler One',sans-serif;
  font-style: italic;
  text-align: center;
  border-bottom: 3px black solid;
  width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* LOGOS */
.boxes{
  width: 350px;
  margin: 50px auto 0 auto;
  padding:0;
  display:inline-block;

}

.boxes img{
  width:100px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.boxes p{
  text-align: center;
  margin-top:20px;
}

footer{
	position:absolute;
	bottom:0;
  width:100%;
	padding:20px;
	margin: 0;
	background-color:#2A8285;
	text-align: center;
	clear:both;
}

footer p{
	color:#ffffff;
	margin-top: 10px;
}
