body {
	font: 1em/1.5 sans-serif;
	padding: 0;
	margin: 0;
	background-color: #edfcf8;
}

/* Global shit*/
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

* {
 box-sizing: border-box;
}



/* Header */


header {
	background: #2A8285;
	color: #FFFFFF;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #B83027 3px solid;
	width: 100%;
}


/* Links */

header a{
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
}

header ul{
	margin: 0;
	padding:0;
}

header nav{
	float:left;
}

header li{
	float: left;
	display: inline;
	padding: 0 1.250em 0 1.250em;
}

header #jesus{
	float:left;
}

header #jesus h1{
	margin:0;
<<<<<<< HEAD
	font: 2.5em 'Vibur', cursive;
=======
	font: 2em 'Vibur', cursive;
>>>>>>> 6b8e295ea61f44348d11896b6d13a92082be71b7
}

header nav{
	float:right;
<<<<<<< HEAD
	margin-top: 0.625em;
=======
	margin-top:10px;
	width:100%;
>>>>>>> 6b8e295ea61f44348d11896b6d13a92082be71b7
}

header .highlight, header .current a{
	color: #B83027;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
	font-weight: bold;
}


/* Showcase aka big pic in middle */


#showcase{
	min-height: 400px;
	background: url(../img/lol.jpg) no-repeat ;
	background-size: cover;
	text-align: center;
	color: #FFFFFF;
	border-bottom: #B83027 2px solid;
}

#showcase h1{
	margin-top:100px;
	font-size: 55px;
	margin-bottom: 10px;
}


/* Small boxes */

#fourboxes {
	margin-top: 20px;
}

#fourboxes .box{
	float:left;
	width:30%;
    padding:15px;
}

#fourboxes .box img{
	width:200px;
	display: block;
    margin: 0 auto;
    border: #000000 1px solid;

}

#fourboxes .box h3, #fourboxes .box p{
	text-align: center;
}

footer{
	position:absolute;
	bottom:auto;
	width:100%;
	padding:20px;
	margin: 0;
	background-color:#2A8285;
	text-align: center;
	clear:both;
}

footer p{
	color:#ffffff;
	margin-top: 10px;
}

@media only screen and (max-device-width:480px){
	header #jesus h1{
		width:100%;
		margin:0 auto;

	}
	#fourboxes .box img{
		width:40%;
	}
}